/* display grid headings with a green background */

div.ricoLG_outerDiv *, div.ricoLG_outerDiv div.ricoLG_cell, div.ricoLG_editDiv *, .ricoTitle, .Rico_tabTitle, .Rico_accTitle, .ricoTree *, .ricoBookmark  {
  font-family: Arial, Helvetica, sans-serif;
}

tr.ricoLG_hdg .ricoLG_cell, tr.ricoLG_hdg th, tr.ricoLG_hdg td {  /* td/th required for IE */
  background-color : #cedebd;
  color            : #000000;
  font-weight      : bold;
  text-align       : center;
}
div.ricoLG_selection {
  background-color: #cedebd;
}
tr.ricoLG_hdg div.hover, table.ricoLiveGrid thead td, table.ricoLiveGrid thead th {
  background-color: #dee8cd !important;
}
.ricoLG_evenRow   { }
.ricoLG_oddRow    { background-color: #EEE; }

div.ricoLG_messageDiv {
  border:2px solid green;
  background-color:white;
  color:navy;
}

a.RicoButton {
  background-color: #D8E0F2;
  color: #444;
  border: 1px solid #444;
}
a.RicoButton.hover {
  background-color: #cedebd;
}

.ricoWindow {
  border: 1px solid black;
  background-color: white;
}
.ricoTitle  {
  background-color: #cedebd;
  color: black;
  font-weight: bold;
  font-size:9pt;
  border: 1px solid #aebe9d;
}

.Rico_tabNavContainer .selected {
  color : #444;
  background: #cedebd;
  cursor: auto;
}
.Rico_tabContent {
    background: #f8f8f8;
}
.Rico_tabNavContainer .hover {
  color : #666;
}

.Rico_tabContentContainer {
  border : 1px solid #4f4f4f;
}
.Rico_tabTitle {
  height: 1.5em;
  color : #AAA;
  background-color: #D8E0F2;
  font-weight : bold;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
  padding: 3px 5px 0px 5px;
}


.Rico_accTitle {
  background-color : #cedebd;
  height: 1.7em;
  color : #AAA;
  font-weight : normal;
  border-bottom:1px solid #becead;
  border-top:1px solid #f0f0f0;
  font-weight : normal;
  padding-left: 1em;
  padding-top:0.3em;
}

.Rico_accordion .hover {
  color : #666;
}
.Rico_accordion .selected {
  color : #444;
  font-weight : bold;
  
}
.Rico_accordion  {
  border : 1px solid #1f669b;
}
div.ricoCalContainer table.ricoCalTab thead th {
  background-color: #cedebd;
}
div.ricoCalContainer table.ricoCalTab thead th a.hover {
  background-color: #deeecd !important;
}
div.ricoCalContainer table.ricoCalTab thead a:link, div.ricoCalContainer table.ricoCalTab thead a:visited {
  color:blue;
}
.ricoTree a.hover {
  text-decoration: underline;
  cursor:pointer;
}
