HTML, BODY {
/*	padding: 0px;
	margin: 0px;*/
	margin: 0px;
}

a:hover:visited, a:hover {
	color: #850001;
}

a:visited {
	color: #888888;
}

a img {
	border-style: none;
}

.bold {
	font-weight: bold;
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

* {
	font-family: arial, helvetica;
	font-size: 12px;
}

A.tabHeaderOff, A.tabHeaderOn,
A.tabHeaderAdminOff, A.tabHeaderAdminOn,
A.tabHeaderEbayOff, A.tabHeaderEbayOn,
A.tabHeaderRetailOff, A.tabHeaderRetailOn,
A.tabHeaderEditorOff, A.tabHeaderEditorOn {
	display: block;
	text-decoration: none;
	width: 90px;
	height: 24px;
	line-height: 24px;
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	float:left;
	clear:none;
	overflow:hidden;
}

A.tabHeaderOff:hover, A.tabHeaderOn:hover,
A.tabHeaderAdminOff:hover, A.tabHeaderAdminOn:hover,
A.tabHeaderEbayOff:hover, A.tabHeaderEbayOn:hover,
A.tabHeaderRetailOff:hover, A.tabHeaderRetailOn:hover,
A.tabHeaderEditorOff:hover, A.tabHeaderEditorOn:hover {
	text-decoration: underline;
	color: #ffffff;
}

A.tabHeaderOff:hover IMG,
A.tabHeaderAdminOff:hover IMG,
A.tabHeaderEbayOff:hover IMG,
A.tabHeaderRetailOff:hover IMG,
A.tabHeaderEditorOff:hover IMG {
	text-decoration: underline;
	color: #ffffff;
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity:1.0;
}

A.tabHeaderOn, A.tabHeaderOn:visited, A.tabHeaderAdminOn, A.tabHeaderAdminOn:visited, A.tabHeaderEditorOn, A.tabHeaderEditorOn:visited, A.tabHeaderEbayOn, A.tabHeaderEbayOn:visited, A.tabHeaderRetailOn, A.tabHeaderRetailOn:visited {
	color: #ffffff;
}

A.tabHeaderOff, A.tabHeaderAdminOff, A.tabHeaderEditorOff, A.tabHeaderEbayOff, A.tabHeaderRetailOff {
	color: #aaaaaa;
}

A.tabHeaderOff IMG, A.tabHeaderAdminOff IMG, A.tabHeaderEditorOff IMG, A.tabHeaderEbayOff IMG, A.tabHeaderRetailOff IMG, A.tabHeaderRetailOff IMG {
	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
}

A.tabHeaderOff {
  background: url('../images/tab-header-off.gif');
  background-repeat: none;
}

A.tabHeaderOn {
  background: url('../images/tab-header-on.gif');
  background-repeat: no-repeat;
}

A.tabHeaderAdminOff {
  background: url('../images/tab-header-admin-off.gif');
  background-repeat: no-repeat;
}

A.tabHeaderAdminOn {
  background: url('../images/tab-header-admin-on.gif');
  background-repeat: no-repeat;
}

A.tabHeaderEditorOff {
  background: url('../images/tab-header-editor-off.gif');
  background-repeat: no-repeat;
}

A.tabHeaderEditorOn {
  background: url('../images/tab-header-editor-on.gif');
  background-repeat: no-repeat;
}

A.tabHeaderEbayOff {
  background: url('../images/tab-header-ebay-off.gif');
  background-repeat: no-repeat;
}

A.tabHeaderEbayOn {
  background: url('../images/tab-header-ebay-on.gif');
  background-repeat: no-repeat;
}

A.tabHeaderRetailOff {
  background: url('../images/tab-header-retail-off.gif');
  background-repeat: no-repeat;
}

A.tabHeaderRetailOn {
  background: url('../images/tab-header-retail-on.gif');
  background-repeat: no-repeat;
}

div#headerGoTo{
	clear:left;
	padding-top: 4px;
}

div#retailSubMenu {
	background-color: #c30093;
	color: #ff9de7;
}

div#retailSubMenu A {
	color: #ff9de7;
}

div#adminSubMenu, div#editorSubMenu, div#userSubMenu, div#ebaySubMenu, div#retailSubMenu {
    padding: 5px;
}

div#adminSubMenu  {
	background-color: #850001;
	color: #ffa0a0;
}


div#adminSubMenu A {
	color: #ffd0d0;
}

div#adminSubMenu B, div#editorSubMenu B, div#userSubMenu B, div#ebaySubMenu B, , div#retailSubMenu B {
	color: #ffffff;
}

div#editorSubMenu  {
	background-color: #313af9;
	color: #a6d7f6;
}

div#editorSubMenu A {
	color: #d6f9f9;
}

div#ebaySubMenu  {
	background-color: #c1a50a;
	color: #ffffff;
}

div#ebaySubMenu A {
	color: #ffffff;
}

div#userSubMenu {
	background-color: #9ac100;
	color: #eaf1a0;
}

div#userSubMenu A {
	color: #eaf1a0;
}

div#breadCrumbPath {
	padding: 5px;
	margin-bottom: 5px;
	color: #643c04;
    padding-left: 16px;
}

div#breadCrumbPath a:visited {
	color: #643c04;
}

div.breadCrumbPathUser {
	border-top: 4px solid #9ac100;
	background: url(../images/ico-breadcrumb.gif) no-repeat 2px 6px;
	background-color: #cde080;
}

div.breadCrumbPathEditor {
	border-top: 4px solid #313af9;
	background: url(../images/ico-breadcrumb.gif) no-repeat 2px 6px;
	background-color: #989cfc;
}

div.breadCrumbPathEbay {
	border-top: 4px solid #c1a50a;
	background: url(../images/ico-breadcrumb.gif) no-repeat 2px 6px;
	background-color: #f4f258;
}

div.breadCrumbPathAdmin {
	border-top: 4px solid #850001;
	background: url(../images/ico-breadcrumb.gif) no-repeat 2px 6px;
	background-color: #C28080;
}

div.breadCrumbPathRetail {
	border-top: 4px solid #c30093;
	background: url(../images/ico-breadcrumb.gif) no-repeat 2px 6px;
	background-color: #ff9de7;
}

hr {
  border: none;
  background-color: #850001;
  color: #850001;
  height: 2px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  background-color: #850001;
  background-image: url(../images/ico-admitone.gif);
  background-repeat: no-repeat;
  background-position: 4px 2px;
  padding-left: 26px;
  border-top: 2px solid #c10f0f;
  border-left: 2px solid #c10f0f;
  border-bottom: 2px solid #4d0101;
  border-right: 2px solid #4d0101;
  color: #ffffff;  
}

h2 {
  background-image: url(../images/ico-admitone2.gif);
  background-repeat: no-repeat;
  padding-left: 18px;
  font-size: 18px;
  border-bottom: 2px solid #850001;
}

h3 {
  background-image: url(../images/ico-admitone2.gif);
  background-repeat: no-repeat;
  padding-left: 18px;
  font-size: 14px;
  margin-bottom: 5px;
}

div#eventLinks {
	float: left;
}

div#quickLinks {
	float: right;
}

table {
	border-collapse: collapsed;
}

table.list {
  clear: both;
  border-collapse: collapse;
  padding: 5px;
  border-style: none;
  width: 90%;
}

table.list thead tr, table.list th,
.listTableHeader {
/*	background-image: url('../images/table-header-background.gif');
	background-repeat: repeat-x;*/
	/*
	background-color: #9AC100;
	*/
	
  background-color: #850001;
  background-repeat: no-repeat;
/*
  border-top: 2px solid #c10f0f;
  border-bottom: 2px solid #4d0101;
  */
  border-left: 2px solid #c10f0f;
  border-right: 2px solid #4d0101;
/*	
	border: 1px solid #4D6100;
	border-bottom: 2px solid #4D6100;
	border-top: 2px solid #CDE080;
	*/	
	padding-top: 4px;
	padding-bottom: 4px;
}

table.list th {
  text-align: center;
  border-style: none;
  color:#ffffff;
  padding: 5px;
  border-top: 2px solid #c10f0f;
  border-bottom: 2px solid #4d0101;
}

table.list th.header-left-align {
  text-align: left;
  border-style: none;
  color:#ffffff;
  padding: 5px;
  border-top: 2px solid #c10f0f;
  border-bottom: 2px solid #4d0101;
}

table.list th.total {
	text-align: center;
	border-style: none;
	color:#ffffff;
  
	background-color: #989CFC;
	border: 1px solid #313AF9;
	border-right: 2px solid #989CFC;
	border-left: 2px solid #313AF9;
}

table.list tr.disabledRow, table.list tr.odd.disabledRow, table.list tr.even.disabledRow, .disabledRow {
  background-color: #EB9E6F;
  color: #aaaaaa;
}

table.list tr.brokenRow, table.list tr.odd.brokenRow, table.list tr.even.brokenRow, .brokenRow {
  background-color: #666666;
}

table.list tr.odd.admit1Row, table.list tr.even.admit1Row {
  background-color: #ffcc22;
  color: #ff0000;
  border: 2px solid red;
}

table.list tr.odd.admit1CatRow, table.list tr.even.admit1CatRow {
  background-color: #ffa500;
  color: #ff0000;
  border: 2px solid red;
}


table.list tr.odd.admit1RowNonTM, table.list tr.even.admit1RowNonTM {
  background-color: #9999ff;
  color: #ff0000;
  border: 2px solid red;
}

table.list tr.odd.removedDuplicateTicket, table.list tr.even.removedDuplicateTicket,
.removedDuplicateTicket {
/*	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50; */
	background: #888888;
	/* temporary commented for joey - easier to read
    text-decoration: line-through;*/	
}

table.list th:hover,
.ricoLG_evenRow.listTableHover,
.ricoLG_oddRow.listTableHover {
	color: #ffffff;
	background-color: #c10f0f;
}

.ricoLG_evenRow.listTableHover *,
.ricoLG_oddRow.listTableHover *{
	color: #ffffff;
}

table.list th A {
  color:#ffffff;
  font-weight: bold;
} 

table.list th.order1 A {
	padding-right: 20px;
	background-image: url(../images/ico-sort-asc.gif);
	background-position: right;
	background-repeat: no-repeat;
} 

table.list th.order2 A {
	padding-right: 20px;
	background-image: url(../images/ico-sort-desc.gif);
	background-position: right;
	background-repeat: no-repeat;
} 

table.list td {
	border: 1px solid #888888;
	padding-left: 5px;
	text-align: center;
}

table.list td.content-left-align {
	border: 1px solid #888888;
	padding-left: 5px;
	text-align: left;
}

table.list td.total{
	background-color: #989CFC;
	border: 1px solid #313AF9;
	border-right: 2px solid #989CFC;
	border-left: 2px solid #313AF9;
}

table.list TBODY  tr.odd {
  background-color: #ffffff;
  cursor: pointer;
}

table.list TBODY  tr.odd {
  background-color: #dbe7b2;
  cursor: pointer;
}

table.list TBODY  tr.removedDuplicateTicket {
/*	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50; */
	background: #888888;
	/* temporary commented for joey - easier to read
    text-decoration: line-through;*/	
}

table.list TBODY  tr.admit1Row {
  background-color: #ffcc22;
  color: #ff0000;
  border: 2px  solid red; 
}

table.list TBODY  tr.admit1CatRow {
  background-color: #ffa500;
  color: #ff0000;
  border: 2px  solid red; 
}

table.list TBODY  tr.admit1RowNonTM {
  background-color: #9999ff;
  color: #ff0000;
  border: 2px  solid red; 
}

table#ebayInventoryGroup.list TBODY tr:hover, table.list TBODY tr:hover {
	background-color: #c10f0f;
	background-repeat: repeat-x;  
	color: #ffffff;
}

table#ebayInventoryEvent.list TBODY tr:hover, table.list TBODY tr:hover {
	background-color: #c10f0f;
	background-repeat: repeat-x;  
	color: #ffffff;
}

table.list TBODY  tr:hover * {
  color: #000000;
}

table.list TBODY td A {
	font-size: 12px;
}

table.list TFOOT TR {
	background-color: #989CFC;
	border: 1px solid #313AF9;
	border-bottom: 2px solid #989CFC;
	border-top: 2px solid #313AF9;
}

table.list TFOOT TD {
	color: #ffffff;
	font-weight: bold;
}


// cannot use last-child selector because of IE6/7

table.list td.no-right-border {
  border-right-style: none;
}

table.list td:not(.no-right-border) {
  border-right-style: solid;
  border-right-width: 1px;
}

div#footer {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 11px;
  background-image: url(../images/vgrad-footer.gif);
  background-repeat: repeat-x;
  background-position: top;
  background-color: #ffffff;
  color: #555555;
}

div.info {
  color: #000000;
  background-color: #bbbeff;
  border-top: 2px solid #ebecff; 
  border-left: 2px solid #ebecff;
  border-right: 2px solid #9fa2de;
  border-bottom: 2px solid #9fa2de;
   
  margin-top: 4px;
  margin-bottom: 4px;
}

div.infoText {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 2px;
  padding-left: 40px;
  padding-bottom: 5px;
  margin-right: 5px;
  background-image: url('../images/ico-info.gif');
  background-repeat: no-repeat;
  background-position: 5px 0px;
}

div.error {
  color: #000000;
  background-color: #dba8a8;
  border-top: 2px solid #e5c6c6;  
  border-left: 2px solid #e5c6c6;
  border-bottom: 2px solid #c68888;  
  border-right: 2px solid #c68888;
  margin-top: 4px;
  margin-bottom: 4px;
}

div.errorText {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 2px;
  padding-left: 40px;
  padding-bottom: 5px;
  background-image: url('../images/ico-error.gif');
  background-repeat: no-repeat;
  background-position: 5px 0px;
}

SPAN.error {
	background-image: url(../images/ico-warning.gif);
	background-repeat: no-repeat;
	background-position: 0px -4px;
	padding-left: 20px;
	color: #ff4444;
	font-weight: bold;
}	

label.error {
  color: #880000;
  font-weight: bold;  
}


DIV.medButton, INPUT.medButton {
	width: 120px;
	height: 24px;
	font-family: helvetica;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 0px;
	background-color: #9AC100;
	border-top: 2px solid #CDE080;
	border-left: 2px solid #CDE080;
	border-bottom: 2px solid #4D6100;
	border-right: 2px solid #4D6100;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;    
  
	text-align: center;
	cursor: pointer;
	clear: none;
}

DIV.medButton:hover, INPUT.medButton:hover {
	background-color: #c3e539;
	border-bottom: 2px solid #CDE080;
	border-right: 2px solid #CDE080;
	border-top: 2px solid #4D6100;
	border-left: 2px solid #4D6100;
}

DIV.smallButton, INPUT.smallButton {
	width: 40px;
	height: 18px;
	font-family: helvetica;
	font-size: 9px;
	color: #ffffff;
	padding-top: 0px;
	background-color: #9AC100;
	border-top: 2px solid #CDE080;
	border-left: 2px solid #CDE080;
	border-bottom: 2px solid #4D6100;
	border-right: 2px solid #4D6100;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;    
  
	text-align: center;
	cursor: pointer;
	clear: none;
}

DIV.smallButton:hover, INPUT.smallButton:hover {
	background-color: #c3e539;
	border-bottom: 2px solid #CDE080;
	border-right: 2px solid #CDE080;
	border-top: 2px solid #4D6100;
	border-left: 2px solid #4D6100;
}


td.leftLabel {
  text-align: right;
  font-weight: bold;
}

div.starOn, div.starOff {
  width: 20px;
  height: 20px;
  clear:none;
  float: left;
  cursor: pointer;
}

div.starOn {
  background: url('../images/ico-star-on.gif');
  background-repeat: no-repeat;
}

div.starOff {
  background: url('../images/ico-star-off.gif');
  background-repeat: no-repeat;
}

DIV.normalized {
  color: #999999;
}

DIV.basic {
  color: #000000;
}

SPAN.normalized {
  color: #999999;
}

SPAN.basic {
  color: #000000;
}

DIV.highOverAction {
	color: #000000;
	background-color: red;
}

DIV.medOverAction {
	color: #000000;
	background-color: #ff66ff;
}

DIV.lowOverAction {
	color: #000000;
	background-color: yellow;
}

select.multipleSelect {
  width: 200px;
  height: 300px;
}

INPUT.longInput {
	width: 400px;
}

INPUT.shortInput {
	width: 60px;
}

DIV.highlightRoleUser,
DIV.highlightRoleEditor,
DIV.highlightRoleAdmin,
DIV.highlightRoleEbay,
DIV.highlightRoleRetail {
	padding: 3px;
	margin: 2px;
	margin-top: 4px;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;    
	float: left;
}

DIV.highlightRoleUser {
	background-color: #9ac100;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 2px solid #4d6100;
	border-left: 2px solid #4d6100;
	border-top: 2px solid #CDE080;
	border-right: 2px solid #CDE080;
}

DIV.highlightRoleEditor {
	background-color: #313af9;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 2px solid #191d7d;
	border-left: 2px solid #191d7d;
	border-top: 2px solid #989CFC;
	border-right: 2px solid #989CFC;
}

DIV.highlightRoleAdmin {
	background-color: #850001;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 2px solid #430001;
	border-left: 2px solid #430001;
	border-top: 2px solid #C28080;
	border-right: 2px solid #C28080;
}

DIV.highlightRoleEbay {
	background-color: #c1a50a;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 2px solid #9f8912;
	border-left: 2px solid #9f8912;
	border-top: 2px solid #f4d218;
	border-right: 2px solid #f4d218;
}

DIV.highlightRoleRetail {
	background-color: #c30093;
	padding-left: 4px;
	padding-right: 4px;
	border-bottom: 2px solid #50003c;
	border-left: 2px solid #50003c;
	border-top: 2px solid #ff61d8;
	border-right: 2px solid #ff61d8;
}

DIV.tourGridDiv {
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeff;
  width: 240px;
  height: 200px;
  float: left;
  clear: none;
  text-align: center;
  padding: 3px;
  margin: 5px;
}

DIV.tourGridDiv:hover {
  border-color: #9999ee;
}

.grayCell {
  color: #999999;
}

.timeLeftDays {
  color: #777777;
}

.timeLeftHours {
  color: #ff0000;
}

.timeLeftMinutes, .timeLeftExpired {
  color: #ff0000;
  font-weight: bold;
}

DIV.searchArtistTag, DIV.searchTourTag, DIV.searchEventTag,DIV.searchVenueTag * {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;    
	float:left;
	padding-left:2px;
	padding-right:2px;
	margin-right: 5px;
	font-size:10px;
	color: #ffffff;
	border: 1px solid white;
	text-align: center;
	width: 40px;
}

DIV.searchArtistTag *, DIV.searchTourTag *, DIV.searchEventTag *,DIV.searchVenueTag * {
	font-size:10px;
	font-weight: normal;
}


DIV.searchArtistTag {
	background:#850001;
}

DIV.searchTourTag {
	background:#313af9;
}
	
DIV.searchEventTag {
	background:#9ac100;
}

DIV.searchVenueTag{
	background:#71CCF2;
}

DIV.userRoleTag, DIV.ebayRoleTag, DIV.editorRoleTag, DIV.adminRoleTag, DIV.retailRoleTag {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;    
	float:left;
	padding-left:2px;
	padding-right:2px;
	margin-right: 5px;
	clear: none;
	font-size:10px;
	color: #ffffff;
	border: 1px solid white;
	text-align: center;
	width: 40px;
}

DIV.userRoleTag *, DIV.ebayRoleTag *, DIV.editorRoleTag *, DIV.adminRoleTag *, , DIV.retailRoleTag * {
	font-size:10px;
	font-weight: normal;
}


DIV.adminRoleTag {
	background:#850001;
}

DIV.editorRoleTag {
	background:#313af9;
}
	
DIV.userRoleTag {
	background:#9ac100;
}

DIV.ebayRoleTag {
	background:#c1a50a;
}

DIV.retailRoleTag {
	background:#c30093;
}

SPAN.crawlTime {
	display: block;
	height: 16px;
	line-height: 16px;
	color: #26a000;
	padding-left: 20px;
	background-image: url('../images/ico-clock.gif');
	background-repeat: no-repeat;
	font-size: 11px;
}

SPAN.crawlError {
	display: block;
	height: 16px;
	line-height: 16px;
	color: red;
	font-size: 11px;
	padding-left: 20px;
	background-image: url('../images/ico-error.gif');
	background-repeat: no-repeat;
}

SPAN.crawlStopped {
	color: red;
	font-size: 11px;
}

SPAN.crawlRunning {
	color: green;
	font-size: 11px;
}

A.edit-link {
	float: left;
	display: block;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
	background-image: url('../images/ico-edit.gif');
	background-repeat: no-repeat;
	margin-left: 2px;
	margin-right: 2px;
}

A.delete-link {
	float: left;
	display: block;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
	background-image: url('../images/ico-delete.gif');
	background-repeat: no-repeat;
	margin-left: 2px;
	margin-right: 2px;
}

A.outside-link {
	float: left;
	display: block;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
	background-image: url('../images/ico-link.gif');
	background-repeat: no-repeat;
	margin-left: 2px;
	margin-right: 2px;
}

/*
 * some additions to the jquery tabs
 */
.ui-tabs-nav img {
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
}

.ui-state-hover img, .ui-tabs-selected img {
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
}

/*
 * automatic event creation
 */
 
table.list tr.odd.existingEventRow, table.list tr.even.existingEventRow {
  text-decoration: line-through;	 
  background: #aaaaaa;
}

/*
 *  ebay
 */

.validEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.odd.validEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.even.validEbayInventoryGroupRow,
table#ebayInventoryEvent.list tr.odd, table#ebayInventoryEvent.list tr.even {
  background-color: #ffffff;
  color: #222222;
}

.disabledEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.odd.disabledEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.even.disabledEbayInventoryGroupRow{
  background-color: #999999;
  color: #222222;
}

.invalidEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.odd.invalidEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.even.invalidEbayInventoryGroupRow{
  background-color: #ff9999;
  color: #222222;
}

.suggestedEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.odd.suggestedEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.even.suggestedEbayInventoryGroupRow {
  background-color: #99ff99;
  color: #222222;
}

.suggestedEbayInventoryEventRow, table#ebayInventoryEvent.list tr.odd.suggestedEbayInventoryEventRow, table#ebayInventoryEvent.list tr.even.suggestedEbayInventoryEventRow {
  background-color: #99ff99;
  color: #222222;
}

.replacementEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.odd.replacementEbayInventoryGroupRow, table#ebayInventoryGroup.list tr.even.replacementEbayInventoryGroupRow{
  background-color: #9999ff;
  color: #222222;
}

table#ebayInventoryGroup.list tr.odd, table#ebayInventoryGroup.list tr.even {
  background-color: #ffffff;
}

#ticketsTable * {
  font-size: 8px;
}

.starOnRow,
.ricoLG_cell.ricoLG_oddRow.starOnRow.starOnRow {
 background-color: #eeee44
}

.admit1Row,
.ricoLG_cell.ricoLG_oddRow.admit1Row {
  background-color: #ffcc22;
  color: #ff0000;
  border: solid red;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
}


.admit1CatRow,
.ricoLG_cell.ricoLG_oddRow.admit1CatRow {
  background-color: #ffa500;
  color: #ff0000;
  border: solid red;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
}


.admit1RowNonTM,
.ricoLG_cell.ricoLG_oddRow.admit1RowNonTM {
  background-color:#9999ff;
  color: #ff0000;
  border: solid red;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.removedDuplicateTicket,
.ricoLG_cell.ricoLG_oddRow.removedDuplicateTicket {
	background: #888888;
}

/*
 * extjs adjustments
 */
 
 div.x-grid3-col-tQty,
 div.x-grid3-col-tSec,
 div.x-grid3-col-tRow,
 div.x-grid3-col-tOnl,
 div.x-grid3-col-tMarkup {
   font-weight: bold;
 }

 .eventRow {
	background-color:#ffffaa;
}

.eventRow TD {
	font-weight: bold;
}


.catRow {
	background-color:#ccffcc;
}

.catRow TD {
	font-weight: bold;
}

.tmatAlertRow:hover *, .circlesAlertRow:hover *{
	color: #884422 !important;
}

.tmatAlertRow {
	background: #c5d973 !important;
}

.circlesAlertRow {
	background: #bbbbff !important;
}

.alertFulfilledRow * {
	font-weight:bold !important;
}
